
/RemoteControl/__pycache__
/RemoteControl/env
Machine-Learning-in-Practice/Developing Machine Learning Models for Predicting Atmospheric Emissions/LAEI2013_MajorRoads_EmissionsbyLink_2013.xlsx
NLP/nlp_seq2seq_embededvector/.venvNLP/nlp_seq2seq_embededvector/Data
NLP/nlp_seq2seq_embededvector/SavedModel_1
NLP/nlp_seq2seq_embededvector/SavedModel
NLP/nlp_seq2seq_embededvector/.venv
ChatbotSeq2Seq-main/.gitignore
ChatbotSeq2Seq-main/.gitignore:Zone.Identifier
ChatbotSeq2Seq-main/analyze.ipynb
ChatbotSeq2Seq-main/analyze.ipynb:Zone.Identifier
ChatbotSeq2Seq-main/main.html
ChatbotSeq2Seq-main/main.html:Zone.Identifier
ChatbotSeq2Seq-main/main.ipynb
ChatbotSeq2Seq-main/main.ipynb:Zone.Identifier
ChatbotSeq2Seq-main/main.pdf
ChatbotSeq2Seq-main/main.pdf:Zone.Identifier
ChatbotSeq2Seq-main/README.md
ChatbotSeq2Seq-main/README.md:Zone.Identifier
ChatbotSeq2Seq-main/requirements.txt
ChatbotSeq2Seq-main/requirements.txt:Zone.Identifier
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-188M/events.out.tfevents.1690487787.CZLPC.18312.2
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-188M/events.out.tfevents.1690487787.CZLPC.18312.2:Zone.Identifier
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-188M/1690501298.020534/events.out.tfevents.1690501298.CZLPC.18312.3
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-188M/1690501298.020534/events.out.tfevents.1690501298.CZLPC.18312.3:Zone.Identifier
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M/events.out.tfevents.1690529488.CZLPC.14528.2
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M/events.out.tfevents.1690529488.CZLPC.14528.2:Zone.Identifier
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M/1690544036.0813532/events.out.tfevents.1690544036.CZLPC.14528.3
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M/1690544036.0813532/events.out.tfevents.1690544036.CZLPC.14528.3:Zone.Identifier
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M-SW/events.out.tfevents.1690586692.CZLPC.17116.2
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M-SW/events.out.tfevents.1690586692.CZLPC.17116.2:Zone.Identifier
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M-SW/1690614153.3301919/events.out.tfevents.1690614153.CZLPC.17116.3
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M-SW/1690614153.3301919/events.out.tfevents.1690614153.CZLPC.17116.3:Zone.Identifier
ChatbotSeq2Seq-main/runs/NormSeq2Seq-188M/events.out.tfevents.1690474416.CZLPC.18312.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-188M/events.out.tfevents.1690474416.CZLPC.18312.0:Zone.Identifier
ChatbotSeq2Seq-main/runs/NormSeq2Seq-188M/1690487786.5571177/events.out.tfevents.1690487786.CZLPC.18312.1
ChatbotSeq2Seq-main/runs/NormSeq2Seq-188M/1690487786.5571177/events.out.tfevents.1690487786.CZLPC.18312.1:Zone.Identifier
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1690515116.CZLPC.14528.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1690515116.CZLPC.14528.0:Zone.Identifier
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726167456.DESKTOP-C1B0PF8.11657.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726167959.DESKTOP-C1B0PF8.11657.1
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726168669.DESKTOP-C1B0PF8.11657.2
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726169153.DESKTOP-C1B0PF8.648.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/1690529487.6686022/events.out.tfevents.1690529487.CZLPC.14528.1
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/1690529487.6686022/events.out.tfevents.1690529487.CZLPC.14528.1:Zone.Identifier
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M-SW/events.out.tfevents.1690559883.CZLPC.17116.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M-SW/events.out.tfevents.1690559883.CZLPC.17116.0:Zone.Identifier
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M-SW/1690586691.6657212/events.out.tfevents.1690586691.CZLPC.17116.1
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M-SW/1690586691.6657212/events.out.tfevents.1690586691.CZLPC.17116.1:Zone.Identifier
NLP/nlp_seq2seq_embededvector/Data/glove.6B.50d.txt
NLP/nlp_seq2seq_embededvector/Data/glove.6B.100d.txt
NLP/nlp_seq2seq_embededvector/Data/glove.6B.200d.txt
NLP/nlp_seq2seq_embededvector/Data/train.txt
ChatbotSeq2Seq-main/python.py
ChatbotSeq2Seq-main/test_model.ipynb
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M/events.out.tfevents.1726180756.DESKTOP-C1B0PF8.648.2
ChatbotSeq2Seq-main/runs/AttnSeq2Seq-219M/1726197830.3320549/events.out.tfevents.1726197830.DESKTOP-C1B0PF8.648.3
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726218008.DESKTOP-C1B0PF8.876.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726218056.DESKTOP-C1B0PF8.876.1
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726218294.DESKTOP-C1B0PF8.5923.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726246987.DESKTOP-C1B0PF8.821.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726247231.DESKTOP-C1B0PF8.2871.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726247348.DESKTOP-C1B0PF8.3812.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726247515.DESKTOP-C1B0PF8.5032.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726247698.DESKTOP-C1B0PF8.6491.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726248228.DESKTOP-C1B0PF8.10336.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726250225.DESKTOP-C1B0PF8.24077.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726253909.DESKTOP-C1B0PF8.49834.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/events.out.tfevents.1726255458.DESKTOP-C1B0PF8.60611.0
ChatbotSeq2Seq-main/runs/NormSeq2Seq-219M/1726180756.0989313/events.out.tfevents.1726180756.DESKTOP-C1B0PF8.648.1
ChatbotSeq2Seq-main/saved/attn/attn_model.pth
ChatbotSeq2Seq-main/saved/attn/idx2word.pkl
ChatbotSeq2Seq-main/saved/attn/word2idx.pkl
ChatbotSeq2Seq-main/saved/norm/idx2word.pkl
ChatbotSeq2Seq-main/saved/norm/norm_model.pth
ChatbotSeq2Seq-main/saved/norm/word2idx.pkl
Seq2Seq_Tutorial/Sequence_2_sequence_model_Tutorial.ipynb
NLP/WikiQA_seq2seq/Model.ipynb
NLP/WikiQA_seq2seq/240913_1341/Model_Seq2Seq.h5
NLP/WikiQACorpus/WikiQACorpus/eval.py
NLP/WikiQACorpus/WikiQACorpus/Guidelines_Phase1.pdf
NLP/WikiQACorpus/WikiQACorpus/Guidelines_Phase2.pdf
NLP/WikiQACorpus/WikiQACorpus/LICENSE.pdf
NLP/WikiQACorpus/WikiQACorpus/README.txt
NLP/WikiQACorpus/WikiQACorpus/WikiQA-dev-filtered.ref
NLP/WikiQACorpus/WikiQACorpus/WikiQA-dev.ref
NLP/WikiQACorpus/WikiQACorpus/WikiQA-dev.tsv
NLP/WikiQACorpus/WikiQACorpus/WikiQA-dev.txt
NLP/WikiQACorpus/WikiQACorpus/WikiQA-test-filtered.ref
NLP/WikiQACorpus/WikiQACorpus/WikiQA-test.ref
NLP/WikiQACorpus/WikiQACorpus/WikiQA-test.tsv
NLP/WikiQACorpus/WikiQACorpus/WikiQA-test.txt
NLP/WikiQACorpus/WikiQACorpus/WikiQA-train.ref
NLP/WikiQACorpus/WikiQACorpus/WikiQA-train.tsv
NLP/WikiQACorpus/WikiQACorpus/WikiQA-train.txt
NLP/WikiQACorpus/WikiQACorpus/WikiQA.tsv
NLP/WikiQACorpus/WikiQACorpus/WikiQASent.pos.ans.tsv
NLP/WikiQACorpus/WikiQACorpus/emnlp-table/WikiQA.CNN-Cnt.dev.rank
NLP/WikiQACorpus/WikiQACorpus/emnlp-table/WikiQA.CNN-Cnt.test.rank
NLP/WikiQACorpus/WikiQACorpus/emnlp-table/WikiQA.CNN.dev.rank
NLP/WikiQACorpus/WikiQACorpus/emnlp-table/WikiQA.CNN.test.rank
Dissertation/.venv
Deep-Learning/02.Recurrent Neural Networks
Machine-Learning-in-Practice/07.Predicting Atmospheric Emissions/Dataset
NLP/01_WikiQA_Seq2Seq/Input
NLP/01_WikiQA_Seq2Seq/Output
Dissertation/InputData
Dissertation/__pycache__
NLP/Develop a Generative Chatbot
NLP/nlp_seq2seq_embededvector/Data
NLP/WikiQACorpus
ten264
cuda-keyring_1.1-1_all.deb
cuda-keyring_1.1-1_all.deb.1
cuda-keyring_1.1-1_all.deb.2
cuda-keyring_1.1-1_all.deb.3
Dissertation/Output
Dissertation/independent_model_testing/Output
Dissertation/sentiment-analysis-master/saves/LSTM_model-model.pt
Dissertation/sentiment-analysis-master/saves/LSTM_model-model.pt:Zone.Identifier
Dissertation/sentiment-analysis-master/saves/multi_layered_CNN_model-model.pt
Dissertation/sentiment-analysis-master/saves/multi_layered_CNN_model-model.pt:Zone.Identifier
Dissertation/sentiment-analysis-master/saves/RNN_model-model.pt
Dissertation/sentiment-analysis-master/saves/RNN_model-model.pt:Zone.Identifier
Dissertation/sentiment-analysis-master/saves/simple_CNN_model-model.pt
Dissertation/sentiment-analysis-master/saves/simple_CNN_model-model.pt:Zone.Identifier
Dissertation/sentiment-analysis-master/.gitignore
Dissertation/sentiment-analysis-master/.gitignore:Zone.Identifier
Dissertation/sentiment-analysis-master/CNN-analysis.ipynb
Dissertation/sentiment-analysis-master/CNN-analysis.ipynb:Zone.Identifier
Dissertation/sentiment-analysis-master/CNN.py
Dissertation/sentiment-analysis-master/CNN.py:Zone.Identifier
Dissertation/sentiment-analysis-master/helpers.py
Dissertation/sentiment-analysis-master/helpers.py:Zone.Identifier
Dissertation/sentiment-analysis-master/LSTM.py
Dissertation/sentiment-analysis-master/LSTM.py:Zone.Identifier
Dissertation/sentiment-analysis-master/README.md
Dissertation/sentiment-analysis-master/README.md:Zone.Identifier
Dissertation/sentiment-analysis-master/requirements.txt
Dissertation/sentiment-analysis-master/requirements.txt:Zone.Identifier
Dissertation/sentiment-analysis-master/RNN-analysis.ipynb
Dissertation/sentiment-analysis-master/RNN-analysis.ipynb:Zone.Identifier
Dissertation/sentiment-analysis-master/RNN.py
Dissertation/sentiment-analysis-master/RNN.py:Zone.Identifier
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/oracle.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/tuner0.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_0/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_0/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_0/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_0/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_05/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_05/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_05/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_05/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_06/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_06/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_06/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_06/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_07/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_07/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_07/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_07/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_08/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_08/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_08/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_08/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_09/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_09/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_09/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_09/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_1/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_10/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_10/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_10/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_10/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_2/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_3/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_3/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_3/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_3/trial.json
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_4/checkpoint
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_4/checkpoint.data-00000-of-00001
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_4/checkpoint.index
Dissertation/independent_model_testing/bert_tuning/bert_sentiment_analysis/trial_4/trial.json
Dissertation/independent_model_testing/bert_tuning/BERT_Hyperparameter_Tuning/oracle.json
Dissertation/independent_model_testing/bert_tuning/BERT_Hyperparameter_Tuning/trial_0/trial.json
Dissertation/models/__pycache__/basemodelclass.cpython-39.pyc
Dissertation/models/__pycache__/logstic_regression.cpython-39.pyc
Dissertation/prototype/__pycache__/XGBoost.cpython-39.pyc
